{% extends 'home.html' %}

<title>{% block title %} Contact {% endblock %}</title>

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  
    <div class='container'>
      <div class='jumbotron'>

        <h1 style="text-align: center;">Welcome to the Contact page!</h1>
        <br>
        <h3 style="text-align: center;">Still working on: if request = POST</h3>
        <br>

        <form>
          <div class="col text-center">
            <div class="form-group">
              <label for="exampleFormControlInput1">Name or Company</label>
              <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Name or Company">
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Subject</label>
              <input type="subject" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Your message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-lg">POST</button>

          </div>

        </form>

      </div>
    </div>

{% endblock %}

