{% extends 'home.html' %}
{% block title %} Success! {% endblock %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class='container'>
    <div class='jumbotron'>
        <div class="col text-center">
            <h1> Thanks  for registering {{ message_name }}, I will contact you soon!</h1>
            <br>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Back to Home Page!</a>
            <br>
        </div>
    </div>
</div>

{% endblock %}